
html, body {
	height: 100%
}

#containermain{
	min-height: 93.65%
}

#main {
	overflow: auto;
	padding-bottom: 100px;
	
}

h2 {
	color: 5b9bd5;
	padding: 15px 15px 10px 28px;
}

h4 {
	color: 5b9bd5;
	padding: 10px 15px 10px 15px;
}

#aboutus {
	padding: 0 15px 15px 15px;
}

#top {
	padding: 15px;
}

#box {
	border-style: solid;
	border-width: 2px;
	border-color: ffc000;
}

#charity {
	padding: 6px 12px;
	background-color: 5b9bd5;
	border-radius: 10px;
	border-color: 5b9bd5;
	color: white;
	text-shadow: 0px;
}

#carousel {
	padding: 15px 15px;
}

#footer{
	 background-color: #212529;
	 position: relative;
	 height: 60px;
	 margin-top: -60px;
	 clear: both;
	 text-align: center;
}
